.profile-icon {
  width: 25px;
  height: 25px;
}

.form {
  max-width: 500px;
}

.login-form {
  margin: 150px auto;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.outline-danger {
  border: 1px red solid;
}

.chart-table {
  width: 100%;
}

.chart-table-row, .chart-table-cell {
  line-height: 25px;
  height: 25px;
  margin: 0 !important;
  padding: 0 !important;
}

td.chart-table-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 0;
  overflow: hidden;
}

.chart {
  width: 50%;
  /* min-width: 5000px; */
}

.table-chart-progress-container {
  position: relative;
  height: 19px;
  top: 3px;
  background-color: #5e97f6;
  border-radius: 4px;
  overflow: hidden;
}

.table-chart-progress-content {
  position: absolute;
  height: 19px;
  background-color: #2a56c6;
}