.profile-icon {
  width: 25px;
  height: 25px;
}

.login-form {
  max-width: 500px;
  margin: 150px auto;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.outline-danger {
  border: 1px red solid;
}
